body {
  background-color: #f9f5ad;
  color: #000000;
  font-family: Cambria;
  line-height: 1.6;
  margin: 20px;
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

h1 {
  color: #000000;
  font-size: 2.5em;
  margin-bottom: 10px;
  border-top: #3020da 6px solid; 
  border-bottom: #3020da 6px solid; 
}

.box {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color:#60b818;
  border-radius: 100px;
  box-shadow: 0 8px 12px #75e01d;
  text-align: center;

}

img {
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.night-mode {
  background-color: #c9a70c;
  color: #ffffff;
}

#toggle-mode {
  padding: 10px;
  margin-top: 10px;
  background: #3020da;
  color: #ffffff;
  border-radius: 14px;
  cursor: pointer;
  font-family: Georgia;
  font-size: 15px;
  width: 25%;
}

#toggle-mode:hover {
  background: #5243f7;
  color: #ffffff;
}

#about-page {
  padding: 10px;
  margin-top: 10px;
  background: #3020da;
  color: #ffffff;
  border-radius: 14px;
  cursor: pointer;
  font-family: Georgia;
  font-size: 15px;
  width: 25%;
}

#about-page:hover {
  background: #5243f7;
  color: #ffffff;
}

#resume-page {
  padding: 10px;
  margin-top: 10px;
  background: #3020da;
  color: #ffffff;
  border-radius: 14px;
  cursor: pointer;
  font-family: Georgia;
  font-size: 15px;
  width: 25%;
}

#resume-page:hover {
  background: #5243f7;
  color: #ffffff;
}

#home-page {
    padding: 10px;
  margin-top: 10px;
  background: #3020da;
  color: #ffffff;
  border-radius: 14px;
  cursor: pointer;
  font-family: Georgia;
  font-size: 15px;
  width: 25%;}

#home-page:hover {
  background: #5243f7;
  color: #ffffff;
}

#contact-page {
  padding: 10px;
  margin-top: 10px;
  background: #3020da;
  color: #ffffff;
  border-radius: 14px;
  cursor: pointer;
  font-family: Georgia;
  font-size: 15px;
  width: 25%;
}

#contact-page:hover {
  background: #5243f7;
  color: #ffffff;
}


